.home-page-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 100px;
}

.team-id-text{
    align-self: center;
    padding-inline-end: 10px;
}

.button-submit{
    padding-inline-start: 10px;
}

/* Works for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Works for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}