.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-prev {
    left: 350px;
    z-index: 1;
  }

.slick-next {
  right: 350px;
}

.cards-padding {
   padding-top: 2%;
}

@media only screen and (max-width: 768px) {
  .cards-padding {
    padding-top: 15%;
 }
}

@media only screen and (max-width: 320px) {
  .cards-padding {
    padding-top: 50%;
 }
}